.passengers-block{
    width: 100%;
    min-width: 300px;
    height: 250px;
    float: right;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    right: 0;
    background-color: #FFFFFF;
    margin-top: 100px;
    padding: 15px 25px;
    -webkit-box-shadow: 0 0 5px 0 rgba(102,102,102,1);
    -moz-box-shadow: 0 0 5px 0 rgba(102,102,102,1);
    box-shadow: 0 0 5px 0 rgba(102,102,102,1);
    display: none;
    z-index: 2;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
.passengers-block .pointer{
    bottom: calc(100% - 5px);
    position: absolute;
    background: #fff;
    width: 10px;
    height: 10px;
    z-index: -1;
    right: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.active-passengers{
    margin-top: 70px;
    display: block !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.passengers-block .passengers-block-passengers{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
}
.passengers-block .passengers-item{
    width: 100%;
    height: 40px;
    float: left;
    position: relative;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.passengers-block .passengers-title{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    font-size: 13px;
    color: #004f47;
}
.passengers-block .passengers-input-block{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.passengers-block .passengers-input{
    width: calc(100% - 80px);
    height: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    color: #999999;
    border: none;
    outline: none;
}
.passengers-block .passengers-plus,
.passengers-block .passengers-minus{
    width: 40px;
    height: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid #007065;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    color: #007065;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.passengers-block .passengers-minus:hover,
.passengers-block .passengers-plus:hover{
    background-color: #007065;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.passengers-block .passenger-block-classes{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.passengers-block .passengers-classes-label{
    left: 0 !important;
}