.header_block {
    position: relative;
    height: auto;
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header_inner_block{
    width: 100%;
    max-width: 1450px;
    height: 70px;
    margin: 10px auto;
}
.menu_block {
    position: relative;
    height: auto;
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu_inner_block{
    width: 100%;
    max-width: 1450px;
    height: 100%;
    margin: 5px auto;
}

.slide_block {
    position: relative;
    height: auto;
    width: 100%;
    float: left;
    margin-top: -100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: -2;
}
.slide_inner_block{
    width: 100%;
    margin: 5px auto;
}

.main_block {
    position: relative;
    height: auto;
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main_inner_block{
    width: 100%;
    max-width: 1450px;
    margin: 5px auto;
}

.footer_block {
    position: relative;
    height: auto;
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 5px solid #216fb7;
    background-color: #f8f9fa;
}
.footer_inner_block{
    width: 100%;
    max-width: 1450px;
    margin: 5px auto;
}