@media screen and (max-width: 992px) {
    .inputs_block{
        width: 100% !important;
    }
    .button_block{
        width: 100% !important;
    }
    .input_large{
        width: 100% !important;
    }
    .input_middle_large{
        width: 75% !important;
    }
    .input_middle{
        width: 50% !important;
    }
    .input_middle_small{
        width: 50% !important;
    }
    .input_small{
        width: 50% !important;
    }
    .input_middle_small{
        width: 50% !important;
    }
    .input_smallest{
        width: 25% !important;
    }
}
@media screen and (max-width: 600px) {
    .inputs_block{
        width: 100% !important;
    }
    .button_block{
        width: 100% !important;
    }
    .input_large{
        width: 100% !important;
    }
    .input_middle_large{
        width: 100% !important;
    }
    .input_middle{
        width: 100% !important;
    }
    .input_middle_small{
        width: 100% !important;
    }
    .input_small{
        width: 100% !important;
    }
    .input_middle_small{
        width: 100% !important;
    }
    .input_smallest{
        width: 50% !important;
    }
}
.inputs_block{
    width: 83%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0;
}
.input_big{
    width: 100%;
    height: 50px !important;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input_large{
    width: 75%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input_middle_large{
    width: 50%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input_middle{
    width: 33.3333333%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input_middle_small{
    width: 30%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input_small{
    width: 25%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input_smaller{
    width: 20%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input_smallest{
    width: 12.5%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input{
    background-color: #ffffff;
    border: none !important;
    outline: none !important;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input_block{
    padding: 0 1px 0 0;
    height: 85px;
}

.input_block .input-field{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-field label{
 top: 1rem;
}
.input-field input[type="checkbox"] label{
    top: 0.2rem !important;
}
.input_block .input-field label.active {
    color: #ffffff !important;
}
.input_block .select-dropdown{
    width: 100% !important;
    left: 0 !important;
    color: #9e9e9e !important;
}
.input_block .select-wrapper .caret{
    color: #9e9e9e;
    margin-right: 10px;
}
.input_block .switch{
    position: relative;
}
.input_block .switch label{
    font-size: 0.8rem !important;
    color: #434343 !important;
}
.external_plugin{
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 !important;
}
.button_block{
    width: 17%;
    height: 150px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}
.button_inner_block {
    float: left;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.95);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid #B2DFDB;
}
.search_button{
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    background-color: #00BCD4;
    cursor: pointer;
}
.search_button:hover{
    background-color: #F44336 !important;
}
#multipleInsurance + label{
    font-size: 12px !important;
}