.error{
    border-color: #b0040e !important;
    background-image: url('/images/error.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.error:focus{

}
.error_block{
    z-index: 999;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 250px;
    float: right;
    padding: 10px 15px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 3px;
    left: 100%;
    bottom: 0;
    background-color: rgba(153, 3, 12, 1);
    margin-right: -250px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.error_triangle{
    position: absolute;
    float: left;
    left: -15px;
    top: 50%;
    margin-top: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid rgba(153, 3, 12, 1);
    border-bottom: 15px solid transparent;
}
.group_inputs_title{
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}
.group_elements{
    width: 100%;
    float: left;
    margin: 5px 0;
}
