@media screen and (max-width: 992px) {
    .module_pages .page-content-inner{
        width: 100% !important;
        margin: 0 auto !important;
        border-radius: 0 !important;
    }
    .small_content{
        width: 50% !important;
    }
    .middle_content{
        width: 50% !important;
    }
    .large_content{
        width: 100% !important;
    }
    .big_content{
        width: 100% !important;
    }
}
@media screen and (max-width: 600px) {
    .small_content{
        width: 100% !important;
    }
    .middle_content{
        width: 100% !important;
    }
    .large_content{
        width: 100% !important;
    }
    .big_content{
        width: 100% !important;
    }
}
.module_pages {
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_pages .page-header{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.9);
}
.module_pages .page-header-content{
    width: 100%;
    height: 300px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_pages .tabs{
    height: 60px;
}
.module_pages .tabs .tab{
    height: 60px;
    line-height: 60px;
}
.module_pages .tab-item{
    color: #007065 !important;
    font-size: 13px;
    font-weight: 500;
    -webkit-transition: color .1s ease !important;
    -moz-transition: color .1s ease !important;
    -o-transition: color .1s ease !important;
    -ms-transition: color .1s ease !important;
    transition: color .1s ease !important;
}
.module_pages .tab-item:hover{
    color: #ffffff !important;
    background-color: rgba(253, 101, 98, 0.95);
}
.module_pages .tabs .indicator{
    background-color: #e0f2f1;
    height: 60px;
    opacity: 0.4;
}
.module_pages .page-header-menu{
    width: 100%;
    height: 60px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 1px 0 rgba(0,0,0,.05);
    margin-bottom: 0;
}
.module_pages .page-body{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 0;
}
.module_pages .page-content{
    width: 100%;
    max-width: 1200px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.module_pages .page-content-inner{
    width: 86%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 2px 0 rgba(0,0,0,.05);
    margin: 0 7%;
    border-radius: 5px;
    padding: 10px;
}
.small_content{
    width: 25%;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 5px;
}
.middle_content{
    width: 33.3333333%;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 5px;
}
.large_content{
    width: 50%;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 5px;
}
.big_content{
    width: 100%;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 5px;
}
.module_pages .content-item{
    margin: 5px 0;
}
.module_pages .page-footer{
    width: 100%;
    height: 250px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 1px 0 rgba(0,0,0,.05);
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid rgba(224,242,241,0.9);
}