@media screen and (max-width: 992px) {

}
@media screen and (max-width: 600px) {

}
.module_modals{
    width: 100%;
    height: 100%;
    float: right;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0, 150, 136, 0.98);
    z-index: 999;
    padding: 75px 5px 5px 5px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.75);
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
    -ms-transition: right 0.5s;
    -o-transition: right 0.5s;
    transition: right 0.5s;
    overflow-y: auto;
    overflow-x: hidden;

}
.module_modals .modal_inner{
    width: 100%;
    max-width: 1200px;
    height: auto;
    position: relative;
    margin: 10px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.active_modal{
    right: 0 !important;
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
    -ms-transition: right 0.5s;
    -o-transition: right 0.5s;
    transition: right 0.5s;
}
.module_modals .modal_load{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    display: none;
    z-index: 2;
}
.module_modals .preloader-wrapper{
    width: 100px !important;
    height: 100px !important;
    float: left;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.remove_scroll{
    overflow: hidden;
}