<div class="user_unLogged">
    <div class="user_title_block">
        <span class="user_title">{$user.settings.unLogged.title}</span>
        <span class="user_text">{$user.settings.unLogged.text}</span>
    </div>
</div>