.user_default{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.user_default .user_title_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10%;
}
.user_default .user_title{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 3px rgba(0,0,0,0.9);
}
.user_default .user_text{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 2px rgba(85, 85, 85, 0.9);
}
.user_default .user_form_block{
    width: 600px;
    position: relative;
    margin: 5px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.user_form_block .row{
    margin-bottom: 1.2rem;
}
.user_form{
    width: 100%;
    min-height: 600px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.05);
}
.user_default #loginForm{
    padding: 2rem 8rem 1rem 8rem;
}
.user_default #registrationForm{
    padding: 2rem 8rem 1rem 8rem;
}
.user_default #remindForm{
    padding: 2rem 8rem 1rem 8rem;
}
.user-field-white{
    width: 100%;
    float: left;
    height: 3rem;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
.user-field-white input,
.user-field-white select,
.user-field-white textarea{
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1rem;
    font-size: 15px;
    background-color: #ffffff;
    border:none !important;
    outline: none;
    border-radius: 2px;
}
.user_default .submit-user-form{
    height: 45px;
    line-height: 45px;
    padding: 0 3rem;
    background-color: #00BCD4;
}

.user_default .user_forms_menu{
    width: 100%;
    height: 50px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    background-color: #ffffff;
}
.user_default .user_forms_tabs{
    width: 600px;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.user_default .tabs{
    height: 100%;
}
.user_default .tabs a{
    color: #009688;
    font-size: 14px;
}
.user_default .tabs a:hover{
    color: #006f65;
}
.user_default .tabs .indicator{
    background-color: #009688;
}
.user_default .user_form_text{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
    margin-bottom: 1.5rem;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(255,255,255,0.05);
    text-shadow: 0 0 2px rgba(85, 85, 85, 0.9);
}