@media screen and (max-width: 992px) {
    .module_footer .container .info{
        border-right: none !important;
        border-bottom: 1px solid rgba(51,51,51,.08);;
    }
}
@media screen and (max-width: 600px) {

}
.module_footer {
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_footer footer{
    background-color: transparent;
}
.module_footer .footer-header{
    padding: 20px 0;
}
.module_footer .container{
    float:none;
}
.module_footer .container p{
    line-height: 25px;
    font-size: 15px;
}
.module_footer .container .info{
    border-right: 1px solid rgba(51,51,51,.08);;
}
.module_footer .footer-copyright{
    height: 65px !important;
    line-height: 65px !important;
}
.module_footer .site-map {
    padding: 0 15px !important;
    color: #ffffff;
}
.module_footer .site-map:hover{
    background-color: rgba(0,0,0,0.1);
}
.module_footer .requisites_list{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
.module_footer .requisites_list li{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
.module_footer .requisite{
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin: 1px 0;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.1);
}
.module_footer .footer-form{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0;
}
.module_footer .form-block,.module_footer .requisites-block{
    padding: 0 50px;
}
.module_footer .footer-form .input_email{
    height: 50px;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    outline: none;
    border: none;
    background-color: rgba(255,255,255,0.1);
    color: #005c53;
}
.module_footer .footer-form .input_text{
    height: 50px;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    outline: none;
    border: none;
    background-color: rgba(255,255,255,0.1);
    color: #005c53;
}
.module_footer .footer-form .textarea{
    height: 150px;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
    outline: none;
    resize: none;
    border: none;
    background-color: rgba(255,255,255,0.1);
    color: #005c53;
}
.module_footer .submit_message{
    padding: 0 50px;
    height: 45px;
    line-height: 45px;
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
    margin-top: 10px;
}
.module_footer .form-control:focus{
    background-color: #ffffff !important;
}
.module_footer .footer-form .row{
    margin-bottom: 1px;
}
.module_footer ::-webkit-input-placeholder {color: #ffffff;}
.module_footer ::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
.module_footer :-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
.module_footer :-ms-input-placeholder      {color:#ffffff;}