@media only screen and (max-width: 992px) {
    .open-search{
        width: calc(100% - 280px) !important;
    }
}
@media only screen and (max-width: 600px) {
    .open-search{
        width: calc(100% - 280px) !important;
    }
}
.plugin_search{
    max-width: 1000px;
    width: 100px;
    height: 70px;
    float: right;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #009688;
    display: none;
    padding: 15px;
    z-index: 999;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
    right: 0;
}
.plugin_search input{
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 50px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 13px;
    color: #333333;
}
.open-search{
    width: calc(100% - 620px);
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
.plugin_search .close-button{
    width: 50px;
    height: 100%;
    float: right;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3rem;
    color: #006057;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: left;
}
.plugin_search .search-button{
    width: 50px;
    height: 100%;
    float: left;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3rem;
    color: #006057;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: right;
}