@media screen and (max-width: 992px) {

}
@media screen and (max-width: 600px) {

}
.module_comments{
    width: 100%;
    height: 400px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    background-color: #f5f5f5;
}