.input_block .passenger_block{
    width: 100%;
    height: 66px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 10px;
    border-top: 1px solid #f5f5f5 !important;
}
.input_block .increment-label{
    width: 100px;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    font-size: 11px;
    color: #009688;
    line-height: 40px;
    padding-left: 10px;
}
.input_block .increment-block{
    width: 120px;
    height: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 10px;
}
.input_block .num-button{
    width: 40px;
    height: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    border:1px solid #009688;
    color: #009688;
    border-radius: 50%;
    -webkit-transition:0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.input_block .num-button:hover{
    -webkit-transition:0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #009688;
    color: #fff3e0;
}
.input_block .increment-input{
    width: 30px;
    height: 100%;
    float: left;
    position: relative;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
}
#dropdownPassengers li{
    float: left;
    position: relative;
}
#dropdownPassengers .divider{
    margin-top: 10px;
}
#dropdownPassengers li:hover{
    background-color: transparent !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}