@media screen and (max-width: 992px) {

}
@media screen and (max-width: 600px) {

}
.module_slide{
    width: 100%;
    height: 1000px;
    position: relative;
    float: left;
    padding: 150px;
    border-top:150px solid rgba(255,255,255,0.98);
    border-bottom:150px solid rgba(255,255,255,0.98);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 10px 20px 0 rgba(255, 183, 77, 0.97);
    -moz-box-shadow: 0 10px 20px 0 rgba(255, 183, 77, 0.97);
    box-shadow: 0 10px 20px 0 rgba(255, 183, 77, 0.97);
}
.module_slide .slider .slides{
    background-color: transparent;
}
.module_slide .slider .slider-top{
    width: 600px;
    height: 150px;
    float: left;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -300px;
    margin-top: -150px;
    border-bottom: 5px solid #ee6e73;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_slide .slider .slider-bottom{
    width: 600px;
    height: 150px;
    float: left;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -300px;
    margin-bottom: -150px;
    border-top: 5px solid #ee6e73;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_slide .slide-button{
    width: 200px;
    height: 100%;
    float: left;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 700px;
    font-size: 3.5rem;
    color: rgba(0,0,0,0.9);
    text-align: center;
    z-index: 9;
    opacity: 0.5;
}
.module_slide .slide-prev{
    float: left;
    left: 0;
}
.module_slide .slide-next{
    float: right;
    right: 0;
}
.module_slide .slide-button:hover{
    opacity: 1;
    color: rgba(255,255,255,0.9);
    cursor: pointer;
}