@media screen and (max-width: 992px) {

}
@media screen and (max-width: 600px) {

}
.module_follow{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 65px;
    background-color: rgba(0,0,0,0.5);
}
.module_follow .title{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20%;
    line-height: 35px;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    margin-top: 15px;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.module_follow .text{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 20%;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.module_follow .follow_form{
    width: 300px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px auto;
}
.module_follow .follow-submit{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.module_follow .follow_form .input_email{
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.module_follow .follow_form .row{
    margin-bottom: 0;
}