@media screen and (max-width: 992px) {
    .card.large{
        height: 450px !important;
    }
}
@media screen and (max-width: 600px) {

}
.module_news{
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 50px 80px;
    background-color: rgba(255,255,255,0.98);
}
.module_news .news_slider{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.news_slider .news_block_slider{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_news .news_slider_item{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}
.module_news .card .card-action a{
    color: #ffffff !important;
}
.module_news .card .card-title{
    font-size: 18px !important;
    font-weight: 600 !important;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.module_news .news_slider_button{
    width: 60px;
    height: 60px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    color: #004c50;
    top: 50%;
    margin-top: -30px;
    font-size: 50px;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
    z-index: 999;
    opacity: 0.5;
}
.module_news:hover .news_slider_button{
    opacity: 1;
}
.module_news .news_slider_button:hover{
    color: #009688;
}
.module_news .news_left_button{
    float: left;
    left: -70px;
}
.module_news .news_right_button{
    float: right;
    right: -70px;
}