.plugin_logo{
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.plugin_logo img{
    width: 160px;
    height: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
}