<div class="module_social">
    <div class="social_inner">
        <a href="#" class="soc_icon Odnoklassniki" title="Odnoklassniki"><i class="fa fa-odnoklassniki"></i></a>
        <a href="#" class="soc_icon Vkontakte" title="Vkontakte"><i class="fa fa-vk"></i></a>
        <a href="#" class="soc_icon Facebook" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="soc_icon Twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="soc_icon Google" title="Google +"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="soc_icon Instagram" title="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="soc_icon Youtube" title="Youtube"><i class="fa fa-youtube"></i></a>
    </div>
</div>





