@media screen and (max-width: 992px) {

}
@media screen and (max-width: 600px) {

}
.module_social{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: -35px auto;
}
.module_social .social_inner {
    width: 385px;
    height: 55px;
    position: relative;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}
.module_social .soc_icon{
    width: 55px;
    height: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 4px solid #ffffff;
    font-size:20px;
    color: rgb(65, 109, 42);
    line-height: 47px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff !important;
}
.module_social .Odnoklassniki:hover{
    background-color: #ff8100 !important;
    color: #ffffff !important;
}
.module_social .Vkontakte:hover{
    background-color: #254B8A !important;
    color: #ffffff !important;
}
.module_social .Facebook:hover{
    background-color: #4F6499 !important;
    color: #ffffff !important;

}
.module_social .Twitter:hover{
    background-color: #7ED1EF !important;
    color: #ffffff !important;
}
.module_social .Google:hover{
    background-color: #C63E24 !important;
    color: #ffffff !important;
}
.module_social .Instagram:hover{
    background-color: #2387D6 !important;
    color: #ffffff !important;
}
.module_social .Youtube:hover{
    background-color: #D82924 !important;
    color: #ffffff !important;
}
