.fixed-action-btn{
    bottom: 50px;
    right: 30px;
}
.module_pages .modal-content{
    border-bottom: none !important;
    border-radius: 0 !important;
}
.content-item{
    border:1px dashed #797979 !important;
    outline: none;
    min-height: 500px;
}
.plugin_settings{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}
.plugin_settings .select-dropdown{
    border: none !important;
    padding: 0 10px !important;
    margin: 0 !important;
}
.plugin_settings .select-wrapper{
    border: 1px solid #f2f2f2 !important;
    padding: 0 5px;
}
.plugin_settings .select-wrapper .caret{
    right: 5px !important;
}
.plugin_settings .settings_type{
    float: left;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 10px 0 0;
}
.plugin_settings .settings_type .input-field{
    margin-top: 0 !important;
}