@media screen and (max-width: 992px) {
    .module_travelMenu .travel_menu_title{
        padding: 0 35px !important;
    }
    .module_travelMenu .travel_title{
        display: none !important;
    }
    .module_travelMenu .travel_menu{
        font-size: 18px !important;
    }
}
@media screen and (max-width: 600px) {
    .module_travelMenu .travel_menu_title{
        padding: 0 30px !important;
    }
    .module_travelMenu .travel_title{
        display: none !important;
    }
    .module_travelMenu .travel_menu{
        font-size: 18px !important;
    }
}
.module_travelMenu{
    width: 100%;
    height: 55px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 10px;
}
.module_travelMenu .travel_menu:last-child{
    border-right: none;
}
.module_travelMenu .travel_menu{
    width: 14.2857143%;
    height: 100%;
    position: relative;
    float: left;
    font-size: 15px;
    border-right: 1px solid #009688;
    color: #009688;
    font-weight: 500;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition:  0.2s;
    -moz-transition:  0.2s;
    -ms-transition:  0.2s;
    -o-transition:  0.2s;
    transition:  0.2s;
}
.module_travelMenu .travel_menu_title{
    width: 100%;
    position: relative;
    float: left;
    height: 100%;
    line-height: 55px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_travelMenu .travel_menu:hover{
    color: rgba(255,255,255,1);
    background-color: #00BCD4;
    -webkit-transition:  0.2s;
    -moz-transition:  0.2s;
    -ms-transition:  0.2s;
    -o-transition:  0.2s;
    transition:  0.2s;
}
.module_travelMenu .active_travelMenu{
    color: rgba(255,255,255,1) !important;
    background-color:transparent !important;
}
.module_travelMenu .travel_title{
    margin-left: 10px;
    font-size: 14px;
    font-style: normal;
}
