@media screen and (max-width: 992px) {

}
@media screen and (max-width: 600px) {

}
.module_banner {
    float: left;
    width: 100%;
    height: 250px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url('/Aviamayak/images/pattern-ads.jpg');
    background-repeat:repeat;
}