@media screen and (max-width: 992px) {
    .module_siteMap .siteMap_block{
        width: 40% !important;
        margin: 5px 5% !important;
    }
}
@media screen and (max-width: 600px) {

}
.module_siteMap {
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 10px;
}
.module_siteMap_inner{
    width: 100%;
    max-width: 1200px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.module_siteMap .siteMap_block{
    width: 24%;
    height: 250px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0.5%;
    padding: 15px;
}
.module_siteMap .siteMap_title {
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(70, 116, 45, 0.9);
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.module_siteMap .siteMap_item{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #5e7687;
    text-decoration: none;
}
.module_siteMap .siteMap_item:hover{
    text-decoration: underline;
}