@media screen and (max-width: 992px) {
    .large{
        width: 99.5% !important;
        height: 300px !important;
    }
    .middle{
        width: 99.5% !important;
        height: 300px !important;
    }
    .small{
        width: 49.5% !important;
        height: 300px !important;
    }
    .module_popular .popular_block{
        padding: 50px 0 20px 0!important;
    }
}
@media screen and (max-width: 600px) {

}
.module_popular {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_popular .popular_block{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 50px 20px 50px;
}
.module_popular .first{
    background-color: rgba(0, 0, 0, 0.5);
}
.module_popular .second{
    background-color: rgba(255, 255, 255, 0.8);
}
.module_popular .popular_header,
.module_popular .popular_content{
    width: 100%;
    height: auto;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.popular_header .row{
    margin-bottom: 0;
}
.module_popular .popular_block_title{
    width: 380px;
    height: 50px;
    position: relative;
    margin: -50px auto 25px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(255,255,255,1);
    font-weight: 600;
    line-height: 50px;
    color: #009688;
    text-transform: uppercase;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.module_popular .tabs{
    background-color: transparent;
    height: 150px;
}
.module_popular .destinations-menu{
    width: 600px !important;
    margin: 0 auto !important;
    float: none !important;
    padding:15px 0;
}
.module_popular .tab_item{
    position: relative;
}
.module_popular .tab_item .tabTitle{
    position: absolute;
    width: 100%;
    height:35px;
    bottom: 0;
    left: 0;
    line-height: 35px;
    color: #ffffff;
    text-transform: none;
}
.module_popular .tab_inner{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 0;
    margin-left: -45px;
    line-height: 90px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #4caf50;
    border: 2px dotted #ffffff;
    color: #ffffff;
    -webkit-transition:0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.module_popular .tab a, .tab{
    height: 100% !important;
}
.module_popular .active > .tab_inner{
    -webkit-transition:0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 100px !important;
    height: 100px !important;
    margin-left: -50px !important;
    line-height: 100px !important;
    border: 2px solid #ffffff !important;
    background-color: #009688 !important;
    color: #ffffff !important;
}
.module_popular .active > .tab_inner i{
    -webkit-transition:0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 40px !important;
}
.module_popular .tabs .indicator{
    background-color: transparent;
}
.module_popular .tabCol{
    width: 100%;
    float: left;
    position: relative;
}
/*TABS END*/
/*ITEMS START*/
.module_popular .popular_item{
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:5px 0.25% 0 0.25%;
    overflow: hidden;
}
.module_popular .popular_item:hover{
    opacity: 0.5;
    cursor: pointer;
}
.module_popular .large{
    width: 49.5%;
    height: 700px;
}
.module_popular .middle{
    width: 49.5%;
    height: 350px;
}
.module_popular .small{
    width: 24.5%;
    height: 350px;
}

.module_popular .popular_img{
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}
.module_popular .popular_img:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -webkit-linear-gradient(-60deg, #00756a 2%, rgba(0, 150, 136, 0.44) 40%, rgba(90, 149, 58, 0.22) 60%,rgba(228,96,8,0) 100%);
    background-image: -moz-linear-gradient(-60deg, #00756a 2%, rgba(0, 150, 136, 0.44) 40%, rgba(249, 249, 249, 0.22) 60%,rgba(228,96,8,0) 100%);
    background-image: -ms-linear-gradient(-60deg, #00756a 2%, rgba(0, 150, 136, 0.44) 40%, rgba(249, 249, 249, 0.22) 60%,rgba(228,96,8,0) 100%);
    background-image: -o-linear-gradient(-60deg, #00756a 2%,rgba(238,90,53,0.44) 40%, rgba(249, 249, 249, 0.22) 60%,rgba(228,96,8,0) 100%);
    background-image: linear-gradient(130deg, #00756a 2%,rgba(238,90,53,0.44) 40%, rgba(249, 249, 249, 0.22) 60%,rgba(228,96,8,0) 100%);
    background-position: 0 0;
}
.module_popular .popular_title{
    width: 100%;
    height: 50px;
    float: left;
    position: absolute;
    left:0;
    top: 20px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    font-size: 24px;
    text-align: left;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.module_popular .popular_country{
    float: left;
    position: absolute;
    display: block;
    left:20px;
    top: 80px;
    line-height: 15px;
    padding: 5px 10px;
    color: #214f7b;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.4);
}
.module_popular .popular_season{
    width: 100%;
    float: left;
    position: absolute;
    display: block;
    left:0;
    bottom: 0;
    line-height: 20px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.module_popular .popular_subTitle{
    width: 100%;
    float: left;
    position: absolute;
    left:0;
    top: 160px;
    line-height: 25px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 24px;
    text-align: left;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.module_popular .popular_item:after {
    content: '';
    display: block;
    border-bottom: 3px solid #fef800;
    width: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transition:.3s ease;
    transition: .3s ease;
}
.module_popular .popular_item:hover:after {
    width: 100%;
    left: 0;
}
.module_popular .all_destinations{
    margin: 10px 0.25%;
}