body{
    width: 100%;
    height: auto;
    float: left;
    max-width: 3000px;
    min-width: 600px;
    margin: 0 auto;
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Helvetica", "Arial", sans-serif;
}
body img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; user-select: none;
}
.header_block{
    width: 100%;
    height: auto;
    float: left;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #009688;
    -webkit-box-shadow: 0 2px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 0 2px 10px -3px rgba(0,0,0,0.75);
    z-index: 99999;
}
.header_inner_block{
    width: 100%;
    height: auto;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.modals_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modals_inner_block{
    width: 100%;
    height: auto;
    max-width: 1200px;
}
.travel_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 250px auto;
    background-color: rgba(0, 150, 136, 0.95);
}
.travel_inner_block{
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.footerTravel_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0, 150, 136, 0.95);
}
.footerTravel_inner_block{
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.main_block{
    height: auto;
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}
.main_inner_block{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.banner_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}
.banner_inner_block{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.slide_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}
.slide_inner_block{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.popular_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.popular_inner_block{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.follow_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}
.follow_inner_block{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.bottom_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bottom_inner_block{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.footer_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0, 150, 136,0.98);
}
.footer_inner_block{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.partners_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}
.partners_inner_block{
    width: 100%;
    height: auto;
    margin: 0 auto;
}