.autocomplete-suggestions {
    width: 100% !important;
    min-width: 300px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #ffffff;
    cursor: default;
    position: absolute;
    top: 61px;
    -webkit-box-shadow: 0 0 5px  rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.autocomplete-suggestion {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #f7f7f7;
}
.autocomplete-selected {
    background: #f0f0f0;
}
.autocomplete-suggestions strong {
    color: #3399ff;
}
.autocomplete-group {
    padding: 2px 5px;
}
.autocomplete-group strong {
    display: block; border-bottom: 1px solid #000;
}