.owl-carousel .owl-wrapper:after {
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel {
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    box-sizing: border-box;
    float: left;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    float: left;
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    float: left;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}

.owl-carousel .owl-item {
    float: left;
    box-sizing: border-box;
}

.owl-controls .owl-buttons div, .owl-controls .owl-page {
    cursor: pointer
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

#owl-demo .item {
    background-color: #ffffff;
    border: 1px solid #F5F5F5;
    width: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

#owl-demo .item:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.container {
    float: left;
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    float: left;
}

ol.linenums {
    margin: 0 0 0 40px
}

ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff
}

.lazyOwl {
    width: 100%;
    float: left;
    box-sizing: border-box;
    height: 100%;
    -o-object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    object-fit: cover;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slide_button{
    width: 50px;
    height: 100px;
    position: absolute;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    top: 50%;
    margin-top: -50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    opacity: 0.6;
}
.button_left{
    left: 25px;
    float: left;
}
.button_right{
    right: 25px;
    float: right;
}
.slide_button:hover{
    opacity: 1 !important;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(150, 150, 150, 1);
}