@media screen and (max-width: 992px) {

}
@media screen and (max-width: 600px) {

}
.module_aboutUs{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.4);
}
.module_aboutUs .aboutUs_slider_inner{
    width: 100%;
    max-width: 1200px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.module_aboutUs .title{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_aboutUs .title .title_text{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    font-weight: 400;
}
.module_aboutUs .title .title_icon{
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 80px;
    margin: -10px 0 20px -40px;
    left: 50%;
    border-radius: 50%;
    font-size: 25px;
    border: 3px solid #ffffff;
    color: #ffffff;
    text-align: center;
}
.module_aboutUs .aboutUs_slider{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff9f9;
}
.module_aboutUs .aboutUs_slider .aboutUs_slider_title{
    width: 100%;
    height: 150px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 25px 0 0 0;
}
.module_aboutUs .aboutUs_slider .aboutUs_slider_title_block{
    width: 150px;
    height: 150px;
    float: left;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -75px;
    border-radius: 50%;
    z-index: 1;
    background-image: url("/Aviamayak/images/logo.png");
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 5px solid #b2dfdb;
}
.module_aboutUs .aboutUs_slider .aboutUs_slider_title_separator{
    width: 56%;
    float: left;
    position: relative;
    border-bottom: 1px solid #b2dfdb;
    margin: 100px 22%;
}
.module_aboutUs .aboutUs_slider .aboutUs_slider_block{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 40px;
}
.module_aboutUs .aboutUs_slider .aboutUs_slider_item{
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}
.module_aboutUs .aboutUs_slider .slider_icon{
    width: 100%;
    height: 100px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
    font-size: 80px;
    color: #007a6f;
}
.module_aboutUs .aboutUs_slider .slider_title{
    width: 100%;
    padding: 5px 0;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #005c53;
    text-transform: uppercase;
}
.module_aboutUs .aboutUs_slider .slider_text{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 14px;
    color: #455a64;
    line-height: 25px;
    text-align: center;
}
.module_aboutUs .slide_button{
    color: #005c53;
    font-size: 40px;
    opacity: 0.6;
}
.module_aboutUs .slide_button:hover{
    opacity: 1 !important;
}