@media screen and (max-width: 992px) {

}
@media screen and (max-width: 600px) {

}
.module_partners {
    width: 100%;
    max-width: 1450px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.module_partners .partners_slider_block{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 70px;
}
.module_partners .partners_slider{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_partners .slider_item{
    width: 100%;
    height: 150px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: 150px;
    background-position: center;
}
.module_partners .partner_icon{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: rgba(255,255,255,0.2);
}
.module_partners .only_icon{
    height: 100%;
    line-height: 150px;
    font-size: 100px;
}
.module_partners .and_icons{
    height: 100px;
    line-height: 100px;
    font-size: 70px;
}
.module_partners .slide_button {
    color: rgba(255,255,255,1);
    font-size: 40px;
    opacity: 0.6;
}
.module_partners .slide_button:hover{
    opacity: 1 !important;
}