@media screen and (max-width: 992px) {
    .inputs_block{
        width: 100% !important;
    }
    .button_block{
        width: 100% !important;
    }
    .input_large{
        width: 100% !important;
    }
    .input_middle_large{
        width: 75% !important;
    }
    .input_middle{
        width: 50% !important;
    }
    .input_middle_small{
        width: 50% !important;
    }
    .input_small{
        width: 50% !important;
    }
    .input_middle_small{
        width: 50% !important;
    }
    .input_smallest{
        width: 25% !important;
    }
}
@media screen and (max-width: 600px) {
    .inputs_block{
        width: 100% !important;
    }
    .button_block{
        width: 100% !important;
    }
    .input_large{
        width: 100% !important;
    }
    .input_middle_large{
        width: 100% !important;
    }
    .input_middle{
        width: 100% !important;
    }
    .input_middle_small{
        width: 100% !important;
    }
    .input_small{
        width: 100% !important;
    }
    .input_middle_small{
        width: 100% !important;
    }
    .input_smallest{
        width: 50% !important;
    }
}
.module_travelReservation{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px 0;
    padding: 10px;
}
.module_travelReservation .search_block{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}
.module_travelReservation .inputs_block{
    width: 85%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0;
}
.module_travelReservation .input_big{
    width: 100%;
    height: 50px !important;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_travelReservation .input_large{
    width: 75%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_travelReservation .input_middle_large{
    width: 50%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_travelReservation .input_middle{
    width: 33.3333333%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_travelReservation .input_middle_small{
    width: 30%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_travelReservation .input_small{
    width: 25%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_travelReservation .input_smaller{
    width: 20%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_travelReservation .input_smallest{
    width: 12.5%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_travelReservation .input{
    background-color: #ffffff;
    border: none !important;
    outline: none !important;
    padding: 0 10px 0 40px;
    width: 100%;
    height: 60px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #004f47 !important;
    font-size: 13px;
}
.module_travelReservation .input_block{
    padding: 0 1px 0 0;
    height: 90px;
}

.module_travelReservation .input_block .input-field{
    width: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_travelReservation .input-field label{
    top: 20px !important;
    left: 40px;
    font-size: 0.9rem;
}
.module_travelReservation .input_block .input-field label.active {
    top: 1rem !important;
    font-size: 0.9rem !important;
    color: #ffffff !important;
}
.module_travelReservation .input_block .search_icon{
    width: 40px;
    height: 60px;
    float: left;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    font-size: 1rem;
    color: #009688;
    left: 0;
    z-index: 2;
}
.module_travelReservation .button_block{
    width: 15%;
    height: 170px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}
.module_travelReservation .button_inner_block {
    float: left;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    right: 50%;
    margin: -60px -60px 0 0;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.95);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 5px solid #B2DFDB;
}
.module_travelReservation .search_button{
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    background-color: #00BCD4;
    cursor: pointer;
}
.module_travelReservation .search_button:hover{
    background-color: #F44336 !important;
}

.module_travelReservation .search-form{
    display: none;
}