.biletix__wl__title{
    display: none !important;
}
.biletix__wl__search_form{
    background-color: transparent !important;
    padding: 0 !important;
    width: 100%;
    float: left;
    position: relative;
    display: none;
}
.biletix__wl__title_right{
    display: none !important;
}
.biletix__wl__search_form input{
    height: 50px !important;
    border: none !important;
    outline: none !important;
}
.biletix__wl__search_form__cities__city_input_tail{
    display: none !important;
}
.biletix__wl__icon{
    top: 18px !important;
}
.biletix__wl__search_form__cities__city_input_code{
    top: 15px !important;
}
.biletix__wl__search_form__person {
    float: left;
    width: 100%;
    position: relative;
}
.person_search{
    width: 33.3333333% !important;
}
.ui-widget.biletix__wl__search_form__datepicker{
    border: none !important;
    border-radius: 0 !important;
}
.biletix__wl__search_form__search{
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    font-size: 14px !important;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 0 !important;
    top: 0 !important;
    background-color: #00BCD4 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
    cursor: pointer;
    border: 10px solid #b2dfdb !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.biletix__wl__search_form__search:hover{
    background-color: rgba(238, 64, 76, 0.95) !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15) !important;
}
#all_variants{
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 10px 15px;
    margin: 10px 0;
}