@media screen and (max-width: 992px) {

}
@media screen and (max-width: 600px) {

}
.module_navigation
{
    width: 100%;
    height: 70px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.module_navigation .nav-prev{
    height: 100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_navigation .nav-prev .logo{
    width: 200px;
    height: 70px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: center;
    background-size: 180px auto;
    background-repeat: no-repeat;
}
.module_navigation .nav-after{
    height: 100%;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_navigation .icon-button{
    width: 80px;
    height: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 70px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}
.module_navigation .nav-after .icon-button {
    float: left !important;
}
.module_navigation .icon-button .inner{
    width: 100%;
    height:100%;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
}
.module_navigation nav{
    width: auto !important;
    float: left;
    height: 70px !important;
    line-height: 70px !important;
    background-color: transparent !important;
    box-shadow: none;
}
.module_navigation .nav-wrapper{
    float: left;
}
.module_navigation .nav-item a{
    padding: 0 20px !important;
    text-transform: uppercase;
    font-weight: 500;
}
.module_navigation .nav-item:hover{
    background-color: rgba(0,0,0,0.15);
    cursor: pointer;
}
.module_navigation .side-nav a{
    height: 60px;
    background-position: center;
    background-size: 180px auto;
    background-repeat: no-repeat;
    line-height: 60px !important;
}
.module_navigation .side-nav .logo a{
    height: 70px !important;
}
.module_navigation .side-nav .logo{
    background-color: #009688;
}